.principal {
    background-color: #8c8c8c;
    height: 15dvh;
}

.pendentes {
    background-color: #ed1c24;
    height: 10dvh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.branco1 {
    display: flex;
    justify-content: center;
    margin: 10dvh;
    border-radius: 15px;
}

.branco {
    background-color: #f5f5f5;
}

.borda {
    border-radius: 10px;
}

.abrange {
    display: flex;
    width: 80%;
    justify-content: space-around;
}

.ingles {
   background-color: #ed1c24;
   color: white;
   padding: 20px;
   border-radius: 25px;
   margin: 20px;
   width: 20dvh;
   box-shadow: 5px 5px 5px black;
}

